.container{
    width: 100%;
}

.libro{
    display: inline-flex;
    flex-direction: row;
    grid-gap: 1%;
    width: 100%;
    margin-top: 3%;
    color: white;
    background-color:  rgb(250, 207, 158);
    border: solid 3px;
    border-radius: 5px;
    border-color:rgb(216, 142, 45)
}

.stats{
    width: 48%;
    align-items: center;
}

.bars {
    margin-top: 5%;
  
}

.numbers{
    width: 90%;
    margin:auto;
    color: rgb(2, 2, 2);
    background-color: rgb(255, 248, 189);
    border-radius: 20px;
    text-align:left;
}

.numbers h4{
    margin-left: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}

.stats h3{

    margin-top: 3%;
}

.imgContainer{
    width: 50%
}

.img{
    border-radius: 5px;
    width: 95%;
    margin: 1%;
}